/* || RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 8rem;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

body{
    background: #0d0d0d;
    color: white;
    overflow-x: hidden;
}

/* || UTILITIES */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.offscreen{
    position: absolute;
    left: -100000px;
}
.nowrap{
    white-space: nowrap;
}

.btn{
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 6px;
    color: #fff;
    background: linear-gradient(90deg, #00d4ff, #8a2be2);
    font-weight: bolder;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px #00d4ff;
}

/* || HEADER */
.header{
    position: sticky;
    top: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    z-index: 100;
    padding: 1rem 0;
    animation: fadeup 1s ease-in-out forwards;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.8rem;
    font-weight: bolder;
    background: linear-gradient(90deg, #00d4ff, #8a2be2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav__ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.nav__ul a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.3s;
}

.nav__ul a:hover{
    color: #00d4ff;
}

/* || HERO */
.hero{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 8rem 2rem 6rem;
    height: 100vh;
    background: url(img/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeup 1s ease-in-out forwards;
   
}

.hero__text{
    flex: 1 1 400px;
    animation: fadeup 1s ease-in-out forwards;
}

.hero__text h2{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(90deg, #00d4ff, #8e2be2);
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
}

.hero__text p{
    margin-bottom: 2rem;
    font-size: larger;
    color: white;
    text-shadow: 10px 10px 15px rgb(0, 0, 0);
}

.hero__text a{
    font-size: 3rem;
}



/* || SECTION-TITLES */
.section__title{
    font-size: 2.6rem;
    text-align: center;
    margin: 4rem 0;
    background: linear-gradient(90deg, #00d4ff, #8a2be2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* || GRID SECTIONS */
.benefits__grid, .testimonial__grid, .pricing__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.card, .price-card{
    background: #161616;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #222;
    color: white;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    
}

.card:hover, .price-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 18px #00d4ff;
}


/* || TESTIMONIAL*/
.testimonial__card{
    background: #161616;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #222;
    color: white;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    font-size: larger;
    font-style: italic;
}

.testimonial__card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 15px #00d4ff;

}



/* || PRICING */
.pricing{
    margin-bottom: 2rem;
}

.price-card h3{
    font-size: 2.5rem;
}

.price-card h4{
    font-size: 2rem;
    margin: 1rem 0;
}

.price-card ul{
    list-style-type: none;
    margin-top: 1rem;
}

.price-card li{
    margin-bottom: 1rem;
    color: #ccc;
}

.featured{
    border: 2.5px solid #00d4ff;
    box-shadow: 0 0 18px #00d4ff;
}

.price__card-height{
    height: 450px;
}

/* || FOOTER */
.footer{
    text-align: center;
    padding: 2rem 0;
    color: #777;
}

/* || RESPONSIVENESS */
@media screen and (max-width:768px){
    .hero__text a{
        font-size: 2rem;
    }

    .hero__text h2{
        font-size: 2rem;
    }
}

@keyframes fadeup{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}